@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff2);
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.woff2);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/OpenSans-Semibold.woff2);
}

:root {
  --bs-font-sans-serif: "OpenSans-Semibold";
  --bs-primary: #e3000f;
  --bs-primary-rgb: 227, 0, 15;
  --bs-border-radius: 10cm;
  --bs-dark: black;
  --bs-dark-rgb: 0, 0, 0;
  --bs-border-width: 3px;
  --bs-light: #fff;
  --bs-light-rgb: 255, 255, 255;
}

.btn {
  --bs-btn-padding-y: 12px;
  --bs-btn-padding-x: 27px;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.font-size-padding {
  padding: 1rem;
}

.content-container {
  width: 100%;
}

.content {
  max-width: 1000px !important;
  margin: auto;
}

.hero-element {
  background-image: url(../img/business-karriere-olaf-scholz-spd-kanzlerfragen-gq-art.webp);
  background-color: var(--bs-body-bg);
  height: 90vh;
  width: calc(100% - 2rem);
  margin: auto;
  margin-top: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 800px;
}

.hero-element::before {
  border-top: var(--bs-primary) 1rem solid;
  border-left: var(--bs-primary) 1rem solid;
  border-right: var(--bs-primary) 1rem solid;
  /* background-color: var(--bs-primary); */
  content: "";
  height: calc(33% + 1rem);
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100vw;
  z-index: -1;
}

.hero-text {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.img-comparison {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.luetzi {
  background-image: url(../img/lu-tzerath-ortsschild-bagger.jpg);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  grid-template-areas: "a1 a2";
  background-size: cover;
  min-height: 15cm;
}

.luetzi-text {
  margin: 3rem;
}

.lng {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: space-around;
  width: calc(100% - 2rem);
}

.sektorziele {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto;
  justify-content: space-around;
}

/* body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #000;
} */

@media (max-width: 768px) {
  .hero-text {
    width: 100%;
    left: 0%;
  }

  .luetzi {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "a1" "a2";
  }

  .luetzi-text {
    margin: 1rem;
  }

  .lng {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
